* {
  background: #fafafa;
  font-family: "Helvetica", sans-serif;
}

html {
  margin-left: 3%;
  margin-right: 3%;
}

img {
    max-width:100%;
    height: auto;
}

.header_image {
    height: 350px;
    display: inline;
    align: right;
}

a {
}

h1, h2, h3, h4, h5, h6 {
  color: #0F1931;
}

p, li {
  font-size: 19px;
  color: #111111;
}

li {
  padding: 1px 0;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 28px;
}

li {
  margin: 15px;
}
